*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background: #3C3A39;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.hero, .works{
    padding: 120px 24px;
}

.hero{
    background: #1C1A19;
}

.hero h1{
    color: #FF6B00;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
}

.hero h3{
    color: #FFF5E1;
    font-weight: bold;
    font-size: 24px;
    margin: 12px 0;
}

.hero p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.medias{
    color: #DBD8D7;
    margin: 22px 0 0 0;
}

.medias span {
    margin: 0 12px;
}

.works h1{
    font-size: 40px;
    line-height: 52px;
    color: #1C1A19;
}

.works hr{
    border: 1px solid #212121;
    margin: 24px 0 80px 0;
}

.works h2{
    font-size: 32px;
    line-height: 44px;  
    margin: 24px 0 0 0;
}

.works p{
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
}

.tags{
    margin: 12px 0;
}

.tag{
    padding: 10px;
    border: 1px solid #8993A4;
    margin: 12px;
}

.tag:first-child{
    margin: 0;
}

button{
    background: #FF6B00;
    padding: 12px;
    outline: none;
    border: none;
}

.cards{
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background: url('./assets/card_background.png');
}

.card h3{
    margin: 84px 16px 12px 16px;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
}